*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}